# VS Code settings
.vscode/

# Naver and Kakao authentication/example files
kakao_rest_api_example.php
naver5e8c28ddd802115e347d65c2f8e15d7f.html
naver6c9a80dab5d959f6a4a033a8721e069e.html
naverb5b3d6ef258c9a24d8a1016f843c7211.html

# Database dumps
member.sql
billing.sql
